/* google font */



@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* layout */
:root {
  --primary: rgb(19 73 99);
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background-image:url('../images/earth.png');
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: white;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  
  
}
.task-details {
  background: #fff;
  border-radius: 4px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.task-details h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
 
}

.task-details h4{
  margin: 0 0 10px 0;
  font-size: 25px;
  color:rgb(19 73 99);
}
.task-details p {
  margin: 0;
  font-size: 0.9em;
  color: rgb(85, 85, 85);
}
.task-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input,select {
  display: block;
}
label {
  color: white;
  font-size: 25px;
}
input , select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
.tasks {
  
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: -15%;
  background-image:url('../images/earth.png');
  padding: 20px;
  border-radius: 30px;
  
}
form button {
  background-color:#256a89;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #d48686;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.high {
  width:fit-content;
  background-color: #e7195a;
  border-radius: 100%;
  padding: 10px;
  
  
}
.low {

 color: green;
  
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

/* auth forms */
form.signup, form.login {
  max-width: 500px;
  margin: 20px auto;
  padding: 70px;
  background-image:url('../images/earth.png');
  border-radius: 10px;
}

.signup h2, .login h2 {
  color: white;
  font-size: 30px;
  text-align: center;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 10px;
  font-family: "Poppins";
  cursor: pointer;
  font-size:20px;
  margin-left: 20px;
}
 a :hover {
  color: #579fbe;
}
nav button:hover {
  background-color: #579fbe;
}

div span {
 color: white;
}

.login , .signup { 
  background-color: white;
  color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 20px;
}
.login:hover {
  background-color:#579fbe ;
}
.signup:hover {
  background-color:#579fbe ;
}

nav span {
  font-size: 20px;
}



